.home-page {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 0;
}

.btn-see-all {
  width: 100%;
  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
  padding: 1rem 0;
  text-transform: uppercase;
}
