.assessments-section {
  display: flex;
  flex-direction: column;
}

.assessment-section-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.assessment-section-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
