.feedback-card {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 1rem;

  cursor: pointer;
}

.feedback-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-card-row.align-bottom {
  align-items: end;
}

.feedback-card-row.align-top {
  align-items: start;
}

.feedback-field-date {
  color: var(--gray-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.feedback-field-score {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-transform: uppercase;
}
