.feedback-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 1rem;

  cursor: pointer;
}

.feedback-card-row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.feedback-card-actions {
  flex: 1 0 0;
  height: 48px;
}

.feedback-card-info {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
}

.feedback-date {
  color: var(--gray-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.feedback-card-score {
  display: flex;
  align-items: center;
}

.feedback-card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
