.assessment-module {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
}

.assessment-module-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.assessment-module-header-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.assessment-module-level {
  color: var(--gray-text);
}

.assessment-module-description {
  color: var(--gray-text);
}

.assessment-module-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.assessor-stat-row {
  padding: 0.25rem 0;
  display: grid;
  grid-template-columns: 6rem minmax(0, 2fr) 2rem;
  align-items: center;
  gap: 1rem;
}

.assessor-stat-fullname {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray-text);
}

/* Individual Feedback Module Details */

.feedback-module {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
}

.feedback-module-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.feedback-module-header-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.feedback-module-level {
  color: var(--gray-text);
}

.feedback-module-description {
  color: var(--gray-text);
}

.feedback-module-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.module-topic-details {
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.module-topic-name {
  flex: 1 1 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray-text);
}

.skill-levels-scores {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
}
