.feedback-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 1rem;
  min-height: 150px;

  cursor: pointer;
  transition: padding 0.2s ease;
}

.feedback-card:hover {
  padding-left: 1rem;
}

.feedback-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-card-row.align-bottom {
  align-items: end;
}

.feedback-card-row.align-top {
  align-items: start;
}

.feedback-field-date {
  color: var(--gray-text);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.feedback-card-attribute-level {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--gray-text);
}
