.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.breadcrumb a {
  color: var(--gray-steel-900);
  text-decoration: none;
}

.breadcrumb a:hover {
  color: var(--green-hover);
}

.breadcrumb-current {
  color: var(--dark);
}

.breadcrumb-sep {
  color: var(--gray-steel-800);
}
