.feedback-topic {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.topic-details {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  gap: 1rem;
}

.topic-details-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topic-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topic-tech-description {
  color: var(--gray-text);
}

.topic-notes {
  flex-grow: 1;
  resize: vertical;
}

.skill-levels-value-list {
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;
}

/* Button Group */
.button-group {
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;
}
