.feedback-topic {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.topic-details {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0;
  gap: 1rem;
}

.topic-details-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topic-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.topic-tech-description {
  color: var(--gray-text);
}

.topic-notes {
  flex-grow: 1;
  resize: vertical;
}

/* Skill Level Values */

.skill-levels-value-list {
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 0.5rem;
}

.skill-level-value {
  width: 40px;
  height: 40px;
  background-color: var(--gray-steel-400);
  display: flex;
  align-items: center;
  justify-content: center;
}
